do.last
recentf
smex-items
*.elc
*.jar
backups/*
ac-comphist.dat
desktop-sessions/*
history
tramp
auto-save-list/*
eshell/*
php/*
url/*
.mc-lists.el
server/*
ido.last
desktop-sessions/last-session/.emacs.desktop
.places
*.html
elpa/*
network-security.data
.DS_Store
bookmarks
projectile-bookmarks.eld
init.elc~